<!-- <div style="padding-left:40px;"> -->

<div class="container col-sm-12">
<div class="row">
  <div class="col-sm-3 visible-md visible-lg">
    <%=image_tag(@pizza.image_file_name, class: "thumb thumb-project pull-left style-img")%>
  </div>
  <div class="col-sm-8 col-sm-offset-1 visible-md visible-lg">
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div class="field">
          <h4 class="boldtitle"> Name </h4>
          <%= @pizza.name %>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="field">
          <h4 class="boldtitle"> Price </h4>
          <%= Pizza.price(@pizza) %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div class="field">
          <h4 class="boldtitle"> Base Price </h4>
          <%= Pizza.baseprice(@pizza) %>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="field">
          <h4 class="boldtitle"> Crust Price </h4>
          <%= Pizza.crustprice(@pizza) %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div class="field">
          <h4 class="boldtitle"> Ingredients </h4>
          Pepperoni
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="field">
          <h4 class="boldtitle"> Description </h4>
          <%= @pizza.description %>
        </div>
      </div>
    </div>

  </div>
</div>
</div>